contourpy==1.0.7
charset-normalizer==3.0.1
cuda-python==12.0.0
cycler==0.11.0
cython==0.29.33
fonttools==4.38.0
idna==3.4
imageio==2.25.1
kiwisolver==1.4.4
matplotlib==3.7.0
networkx==3.0
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==23.0
pillow==9.4.0
pip==23.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
pywavelets==1.4.1
requests==2.28.2
scikit-image==0.19.3
scipy==1.10.1
six==1.16.0
tifffile==2023.2.3
torch==1.13.1
torchvision==0.14.1
typing-extensions==4.5.0
urllib3==1.26.14
pandas